includes:
    - phpstan-baseline.neon

parameters:
    level: max
    checkMissingIterableValueType: false
    paths:
        - lib
    ignoreErrors:
        - "#Anonymous function should have native return typehint#"
        - '#Only booleans are allowed in an if condition#'
