parameters:
	ignoreErrors:
		-
			message: "#^Parameter \\#1 \\$callback of function set_error_handler expects \\(callable\\(int, string, string, int, array\\)\\: bool\\)\\|null, Closure\\(\\)\\: void given\\.$#"
			count: 1
			path: src/Api/AbstractApi.php

		-
			message:
				"""
					#^Class Gitlab\\\\Model\\\\Badge extends deprecated class Gitlab\\\\Model\\\\AbstractModel\\:
					since version 10\\.1 and will be removed in 11\\.0\\.$#
				"""
			count: 1
			path: src/Model/Badge.php

		-
			message:
				"""
					#^Class Gitlab\\\\Model\\\\Branch extends deprecated class Gitlab\\\\Model\\\\AbstractModel\\:
					since version 10\\.1 and will be removed in 11\\.0\\.$#
				"""
			count: 1
			path: src/Model/Branch.php

		-
			message:
				"""
					#^Class Gitlab\\\\Model\\\\Commit extends deprecated class Gitlab\\\\Model\\\\AbstractModel\\:
					since version 10\\.1 and will be removed in 11\\.0\\.$#
				"""
			count: 1
			path: src/Model/Commit.php

		-
			message:
				"""
					#^Class Gitlab\\\\Model\\\\CommitNote extends deprecated class Gitlab\\\\Model\\\\AbstractModel\\:
					since version 10\\.1 and will be removed in 11\\.0\\.$#
				"""
			count: 1
			path: src/Model/CommitNote.php

		-
			message:
				"""
					#^Class Gitlab\\\\Model\\\\Comparison extends deprecated class Gitlab\\\\Model\\\\AbstractModel\\:
					since version 10\\.1 and will be removed in 11\\.0\\.$#
				"""
			count: 1
			path: src/Model/Comparison.php

		-
			message:
				"""
					#^Class Gitlab\\\\Model\\\\Contributor extends deprecated class Gitlab\\\\Model\\\\AbstractModel\\:
					since version 10\\.1 and will be removed in 11\\.0\\.$#
				"""
			count: 1
			path: src/Model/Contributor.php

		-
			message:
				"""
					#^Class Gitlab\\\\Model\\\\Diff extends deprecated class Gitlab\\\\Model\\\\AbstractModel\\:
					since version 10\\.1 and will be removed in 11\\.0\\.$#
				"""
			count: 1
			path: src/Model/Diff.php

		-
			message:
				"""
					#^Class Gitlab\\\\Model\\\\Event extends deprecated class Gitlab\\\\Model\\\\AbstractModel\\:
					since version 10\\.1 and will be removed in 11\\.0\\.$#
				"""
			count: 1
			path: src/Model/Event.php

		-
			message:
				"""
					#^Class Gitlab\\\\Model\\\\File extends deprecated class Gitlab\\\\Model\\\\AbstractModel\\:
					since version 10\\.1 and will be removed in 11\\.0\\.$#
				"""
			count: 1
			path: src/Model/File.php

		-
			message:
				"""
					#^Class Gitlab\\\\Model\\\\Group extends deprecated class Gitlab\\\\Model\\\\AbstractModel\\:
					since version 10\\.1 and will be removed in 11\\.0\\.$#
				"""
			count: 1
			path: src/Model/Group.php

		-
			message:
				"""
					#^Class Gitlab\\\\Model\\\\GroupMilestone extends deprecated class Gitlab\\\\Model\\\\AbstractModel\\:
					since version 10\\.1 and will be removed in 11\\.0\\.$#
				"""
			count: 1
			path: src/Model/GroupMilestone.php

		-
			message:
				"""
					#^Class Gitlab\\\\Model\\\\Hook extends deprecated class Gitlab\\\\Model\\\\AbstractModel\\:
					since version 10\\.1 and will be removed in 11\\.0\\.$#
				"""
			count: 1
			path: src/Model/Hook.php

		-
			message:
				"""
					#^Class Gitlab\\\\Model\\\\Issue extends deprecated class Gitlab\\\\Model\\\\AbstractModel\\:
					since version 10\\.1 and will be removed in 11\\.0\\.$#
				"""
			count: 1
			path: src/Model/Issue.php

		-
			message: "#^Return type \\(Gitlab\\\\Model\\\\Issue\\) of method Gitlab\\\\Model\\\\Issue\\:\\:close\\(\\) should be covariant with return type \\(static\\(Gitlab\\\\Model\\\\Stateful\\)\\) of method Gitlab\\\\Model\\\\Stateful\\:\\:close\\(\\)$#"
			count: 1
			path: src/Model/Issue.php

		-
			message: "#^Return type \\(Gitlab\\\\Model\\\\Issue\\) of method Gitlab\\\\Model\\\\Issue\\:\\:open\\(\\) should be covariant with return type \\(static\\(Gitlab\\\\Model\\\\Stateful\\)\\) of method Gitlab\\\\Model\\\\Stateful\\:\\:open\\(\\)$#"
			count: 1
			path: src/Model/Issue.php

		-
			message: "#^Return type \\(Gitlab\\\\Model\\\\Issue\\) of method Gitlab\\\\Model\\\\Issue\\:\\:reopen\\(\\) should be covariant with return type \\(static\\(Gitlab\\\\Model\\\\Stateful\\)\\) of method Gitlab\\\\Model\\\\Stateful\\:\\:reopen\\(\\)$#"
			count: 1
			path: src/Model/Issue.php

		-
			message:
				"""
					#^Class Gitlab\\\\Model\\\\IssueLink extends deprecated class Gitlab\\\\Model\\\\AbstractModel\\:
					since version 10\\.1 and will be removed in 11\\.0\\.$#
				"""
			count: 1
			path: src/Model/IssueLink.php

		-
			message:
				"""
					#^Class Gitlab\\\\Model\\\\Job extends deprecated class Gitlab\\\\Model\\\\AbstractModel\\:
					since version 10\\.1 and will be removed in 11\\.0\\.$#
				"""
			count: 1
			path: src/Model/Job.php

		-
			message:
				"""
					#^Class Gitlab\\\\Model\\\\Key extends deprecated class Gitlab\\\\Model\\\\AbstractModel\\:
					since version 10\\.1 and will be removed in 11\\.0\\.$#
				"""
			count: 1
			path: src/Model/Key.php

		-
			message:
				"""
					#^Class Gitlab\\\\Model\\\\Label extends deprecated class Gitlab\\\\Model\\\\AbstractModel\\:
					since version 10\\.1 and will be removed in 11\\.0\\.$#
				"""
			count: 1
			path: src/Model/Label.php

		-
			message:
				"""
					#^Class Gitlab\\\\Model\\\\MergeRequest extends deprecated class Gitlab\\\\Model\\\\AbstractModel\\:
					since version 10\\.1 and will be removed in 11\\.0\\.$#
				"""
			count: 1
			path: src/Model/MergeRequest.php

		-
			message: "#^Return type \\(Gitlab\\\\Model\\\\MergeRequest\\) of method Gitlab\\\\Model\\\\MergeRequest\\:\\:close\\(\\) should be covariant with return type \\(static\\(Gitlab\\\\Model\\\\Stateful\\)\\) of method Gitlab\\\\Model\\\\Stateful\\:\\:close\\(\\)$#"
			count: 1
			path: src/Model/MergeRequest.php

		-
			message: "#^Return type \\(Gitlab\\\\Model\\\\MergeRequest\\) of method Gitlab\\\\Model\\\\MergeRequest\\:\\:reopen\\(\\) should be covariant with return type \\(static\\(Gitlab\\\\Model\\\\Stateful\\)\\) of method Gitlab\\\\Model\\\\Stateful\\:\\:reopen\\(\\)$#"
			count: 1
			path: src/Model/MergeRequest.php

		-
			message: "#^Return type \\(Gitlab\\\\Model\\\\MergeRequest\\) of method Gitlab\\\\Model\\\\MergeRequest\\:\\:open\\(\\) should be covariant with return type \\(static\\(Gitlab\\\\Model\\\\Stateful\\)\\) of method Gitlab\\\\Model\\\\Stateful\\:\\:open\\(\\)$#"
			count: 1
			path: src/Model/MergeRequest.php

		-
			message:
				"""
					#^Class Gitlab\\\\Model\\\\Milestone extends deprecated class Gitlab\\\\Model\\\\AbstractModel\\:
					since version 10\\.1 and will be removed in 11\\.0\\.$#
				"""
			count: 1
			path: src/Model/Milestone.php

		-
			message:
				"""
					#^Class Gitlab\\\\Model\\\\Node extends deprecated class Gitlab\\\\Model\\\\AbstractModel\\:
					since version 10\\.1 and will be removed in 11\\.0\\.$#
				"""
			count: 1
			path: src/Model/Node.php

		-
			message:
				"""
					#^Class Gitlab\\\\Model\\\\Note extends deprecated class Gitlab\\\\Model\\\\AbstractModel\\:
					since version 10\\.1 and will be removed in 11\\.0\\.$#
				"""
			count: 1
			path: src/Model/Note.php

		-
			message:
				"""
					#^Class Gitlab\\\\Model\\\\Pipeline extends deprecated class Gitlab\\\\Model\\\\AbstractModel\\:
					since version 10\\.1 and will be removed in 11\\.0\\.$#
				"""
			count: 1
			path: src/Model/Pipeline.php

		-
			message:
				"""
					#^Class Gitlab\\\\Model\\\\Project extends deprecated class Gitlab\\\\Model\\\\AbstractModel\\:
					since version 10\\.1 and will be removed in 11\\.0\\.$#
				"""
			count: 1
			path: src/Model/Project.php

		-
			message:
				"""
					#^Class Gitlab\\\\Model\\\\ProjectHook extends deprecated class Gitlab\\\\Model\\\\AbstractModel\\:
					since version 10\\.1 and will be removed in 11\\.0\\.$#
				"""
			count: 1
			path: src/Model/ProjectHook.php

		-
			message:
				"""
					#^Class Gitlab\\\\Model\\\\ProjectNamespace extends deprecated class Gitlab\\\\Model\\\\AbstractModel\\:
					since version 10\\.1 and will be removed in 11\\.0\\.$#
				"""
			count: 1
			path: src/Model/ProjectNamespace.php

		-
			message:
				"""
					#^Class Gitlab\\\\Model\\\\Release extends deprecated class Gitlab\\\\Model\\\\AbstractModel\\:
					since version 10\\.1 and will be removed in 11\\.0\\.$#
				"""
			count: 1
			path: src/Model/Release.php

		-
			message:
				"""
					#^Class Gitlab\\\\Model\\\\Schedule extends deprecated class Gitlab\\\\Model\\\\AbstractModel\\:
					since version 10\\.1 and will be removed in 11\\.0\\.$#
				"""
			count: 1
			path: src/Model/Schedule.php

		-
			message:
				"""
					#^Class Gitlab\\\\Model\\\\Snippet extends deprecated class Gitlab\\\\Model\\\\AbstractModel\\:
					since version 10\\.1 and will be removed in 11\\.0\\.$#
				"""
			count: 1
			path: src/Model/Snippet.php

		-
			message:
				"""
					#^Class Gitlab\\\\Model\\\\Tag extends deprecated class Gitlab\\\\Model\\\\AbstractModel\\:
					since version 10\\.1 and will be removed in 11\\.0\\.$#
				"""
			count: 1
			path: src/Model/Tag.php

		-
			message:
				"""
					#^Class Gitlab\\\\Model\\\\Trigger extends deprecated class Gitlab\\\\Model\\\\AbstractModel\\:
					since version 10\\.1 and will be removed in 11\\.0\\.$#
				"""
			count: 1
			path: src/Model/Trigger.php

		-
			message:
				"""
					#^Class Gitlab\\\\Model\\\\User extends deprecated class Gitlab\\\\Model\\\\AbstractModel\\:
					since version 10\\.1 and will be removed in 11\\.0\\.$#
				"""
			count: 1
			path: src/Model/User.php

		-
			message:
				"""
					#^Class Gitlab\\\\Model\\\\Wiki extends deprecated class Gitlab\\\\Model\\\\AbstractModel\\:
					since version 10\\.1 and will be removed in 11\\.0\\.$#
				"""
			count: 1
			path: src/Model/Wiki.php

		-
			message: "#^Variable method call on Gitlab\\\\Api\\\\ApiInterface\\.$#"
			count: 1
			path: src/ResultPager.php

