includes:
    - phpstan-baseline.neon

parameters:
    level: max
    checkMissingIterableValueType: false
    paths:
        - lib
    ignoreErrors:
        - "#^Unsafe usage of new static\\(\\)\\.$#"
